@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color: #fff;
}


.wrapperclass {
  padding: 1rem;
  border: 1px solid red;
}

.editorclass {
  background-color: yellowgreen;
  padding: 1rem;
  border: 1px solid blue;
}

.toolbarclass {
  border: 1px solid black;
}

@layer base {

  ul,
  ol {
    list-style: revert;
  }
}